html {
    font-family: 'Ubuntu', sans-serif;
}
body {
    margin-left: 10%;
    margin-right: 10%;
    background-color:#F0FFF0;
}
h1 {
    margin: 2px;
    text-align: center;
    color: black;
    font-size: 22px;
}
h2 {
    margin: 2px;
    color: black;
    font-size: 14px;
}
#Whats {
    display: flex;
}
#IconeWpp {
    height: 18px;
    width: 18px;
}
#ImgPerfil {
    width: 121.25px;
    height: auto;
    float: right;
}
a:link {
    color: blue;
    text-decoration:none;
}
a:hover {
    color: darkmagenta;
}
div.title {
    border: 1px solid black;
    margin: 2px;
}
div.content {
    margin: 2px 2px 2px 30px;
    color: 	#1C1C1C;
    font-size: 12px;
    font-weight: bold
}
div.blockquote {
    color: 	#1C1C1C;
    font-size: 14px;
    font-weight: bold
}
